body {
    background-color: #d8aa7d;
    font-family: "Times New Roman";
}
#both {
    width: 80%;
    margin: 15% auto auto;
}
body div div div{
    border-bottom: 1px solid lightgrey;
    height: 30px;
}
.board {
    background-color: #feffe9;
}
.basket {
    width: 60%;
    float: left;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
input {
    width: 85%;
    float: left;
    height: 80%;
    border: 1px solid lightgrey;
}
#add {
    background-color: #00b0b0;
    color: white;
    float: right;
    height: 80%;
}
.item {
    background-color: #feffe9;
    padding: 5px;
}
.name {
    width: 33%;
    text-align: left;
    float: left;
}
#edit {
    display: none;
    width: 30%;
    overflow-x: hidden;
}
.crement {
    width: 33%;
    float: left;
    position: relative;
    font-weight: bold;
}
.de {
    color: white;
    background-color: red;
    border-radius: 100%;
    font-weight: bold;

}
.amount {
    background-color: lightgrey;
    width: 40px;
    font-weight: bold;

}
.in {
    color: white;
    background-color: limegreen;
    border-radius: 100%;
    font-weight: bold;

}
.done {
    width: 33%;
    float: right;
    position: relative;

}
.close {
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
}
.list {
    display: inline-block;
    position: relative;
    width: 35%;
    float: right;
    text-align: left;
}
.li {
    background-color: lightblue;
    text-align: left;
    display: inline-block;
    height: 80%;
    border-radius: 5%;
    margin: auto;
}
.list_amount {
    background-color: orangered;
    color: white;
    font-weight: bold;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align:center;
}