body {
    background-color: rgba(167, 181, 151, 0.58);
}
* {
    font-family: "Comic Sans MS", "Times New Roman", serif;
    color: #043b2c;
}
#both {
    width: 80%;
    margin: 10% auto auto;
}

.board {
    background-color: #feffe9;
    box-shadow: grey;

}
.basket {
    width: 67%;
    float: left;
    display: inline-block;
    position: relative;
    border-radius: 1%;
    box-shadow: grey;
    margin-right: 5%;
    margin-bottom: 5%;
    min-width: 500px;
}
#input{
    background-color: #feffe9;
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid lightgrey;
    height: 30px;
}
#input input {
    width: 85%;
    float: left;
    height: 90%;
    border: 1px solid lightgrey;
}
#add {
    background-color: #00b0b0;
    color: white;
    float: right;
    height: 100%;
    width: 14%;
    text-align: center;
    border: 1px solid #009999;
}
#add:hover {
    background-color: #009999;
}
.item {
    background-color: #feffe9;
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid lightgrey;
    height: 30px;
}
.name {
    width: 43%;
    text-align: left;
    float: left;
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
}
.name_crossed {
    text-decoration: line-through;
    margin-top: 2px;
    display: none;
    width: 43%;
    text-align: left;
    float: left;
}
.crement {
    width: 23%;
    float: left;
    position: relative;
    font-weight: bold;
}
.but {
    border-radius: 100%;
    font-weight: bold;
    color: white;
    width: 23px;
    height: 23px;
}
.de {
    background-color: red;
    border: 1px solid #ae281f;
}
.de:hover {
    background-color: #e40000;
}
.de:disabled {
    background-color: #ff7c6e;
}
.amount {
    display: inline-block;
    background-color: rgba(183, 197, 167, 0.58);
    width: 23px;
    font-weight: bold;
    text-align: center;
    border-radius: 2%;
    padding: 2px;
}
.bought .amount {
    margin-left: 30px;
}
.in {
    background-color: limegreen;
    border: 1px solid #18ab29;
}
.in:hover {
    background-color: rgba(50, 183, 50, 0.99);
}
.done {
    width: 33%;
    float: right;
    position: relative;
}
.buy {
    height: 80%;
    float: right;
}
.n_buy {
    height: 80%;
    float: right;
    display: none;
}
.close {
    background-color: red;
    color: white;
    width: 23px;
    height: 23px;
    float: right;
    padding: 2px 2px 5px;
    border: 1px solid #ba261e;
    border-radius: 2px;
}
.close:hover {
    background-color: #e40000;
}
.list {
    display: inline-block;
    position: relative;
    width: 25%;
    float: left;
    text-align: left;
    min-width: 220px;
}
.list div {
    padding: 10px;
/*    height: 30px; */
}
.list div .li {
    background-color: rgba(183, 197, 167, 0.58);
    text-align: left;
    display: inline-block;
    height: 50%;
    border-radius: 10%;
    margin: 2px 2px 2px 2px;
    padding: 5px 5px 10px 5px;
}
.list_amount {
    background-color: orangered;
    color: white;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align:center;
    text-decoration: none;
    margin-top: 3px;
}
.list_done {
    text-decoration: line-through;
}
.shelf {
    background-color: #feffe9;
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid lightgrey;
}